@font-face {
  font-family: NovaFont;
  src: url(/src/assets/fonts/Proxima\ Nova\ Font.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NovaFont;
}

body {
  overflow: scroll;
}
